@import '../scss/variables';

.poneys--main{
    text-align: center;
    .poneys--poneylist{
        display: inline-block;
        width: 40%;
        margin: 20px;
        border: 1px solid $secondColor;
        border-radius: 30px;
    
        .span-poneymaginc{
            font-weight: bold;
            color: $mainColor;
        }
    }
}

